[Unit]
Description=The AirMap on-vehicle service
Requires=mavlink-router.service
After=network.target mavlink-router.service

[Service]
Environment="HOME=/root"
ExecStart=/usr/bin/airmap daemon \
    --telemetry-host=api.k8s.stage.airmap.com\
    --telemetry-port=32003\
    --tcp-endpoint-ip=127.0.0.1\
    --tcp-endpoint-port=5760\
    --config-file=/etc/airmap/aero/config.json

[Install]
WantedBy=multi-user.target
