Source: airmapd
Priority: optional
Maintainer: Thomas Voß <thomas@airmap.com>
Build-Depends: ca-certificates,
               cmake,
               debhelper (>= 9),
               dh-systemd,
               doxygen,
               git,
               graphviz,
               libssl-dev,
               pkg-config,
               qtbase5-dev,
Standards-Version: 3.9.5
Section: net
Homepage: https://github.com/airmap/airmapd
Vcs-Git: https://github.com/airmap/airmapd.git

Package: libairmapd
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: AirMap provides services to drone operators and airspace managers
 AirMap provides services to drone operators, developers and airspace managers.
 .
 Shared libraries for AirMap client integration.

Package: libairmapd-dev
Section: libs
Architecture: any
Depends: libairmapd (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: AirMap provides services to drone operators and airspace managers
 AirMap provides services to drone operators, developers and airspace managers.
 .
 Development resources for AirMap client integration.

Package: airmapd-bin
Section: net
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: AirMap provides services to drone operators and airspace managers
 AirMap provides services to drone operators, developers and airspace managers.
 .
 Daemon binaries required for both client integration and on-vehicle operation.

Package: airmapd-intel-aero
Section: net
Architecture: any
Depends: airmapd-bin (= ${binary:Version}),
         aero-system,
         ${misc:Depends},
         ${shlibs:Depends},
Description: AirMap provides services to drone operators and airspace managers
 AirMap provides services to drone operators, developers and airspace managers.
 .
 Configuration required to run the daemon on the Intel Aero.
